* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('hd_car_background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other elements */
  }

  #background-video {
    filter: brightness(0.5); /* Adjust brightness to 50% */
    opacity: 1; /* Adjust opacity to 80% */
  }

.container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #007bff;
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.remember-me input {
    margin-right: 0.5rem;
}

button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button {
    background-color: #007bff;
    color: #fff;
}

.google-signin {
    background-color: #db4437;
    color: #fff;
}

.guest-register {
    background-color: #f4b400;
    color: #fff;
}

button:hover {
    opacity: 0.8;
}

.divider {
    margin: 1rem 0;
    position: relative;
    text-align: center;
    color: #aaa;
}

.divider:before, .divider:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #aaa;
}

.divider:before {
    left: 0;
}

.divider:after {
    right: 0;
}
